.suscridete{
    padding-bottom: 55px;
    &__bg{
        background: #39385E;
        box-shadow: 0px 26px 18.97px rgba(130, 130, 130, 0.17);
        border-radius: 23px;
        position: relative;
        padding: 55px 18px;
        @include tablet{
            display: flex;
            justify-content: space-between;
            padding: 55px 60px 90px;
        }
        &.plants{
            &::after{
                display: none;
                background-image: url('../images/plants.png');
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 57%;
                width: 100%;
                height: 100%;
                content: '';
                @include tablet{
                    display: block;
                }
                @include desktop-sm{
                    left: 65%;
                }
            }
        }
    }
    &__title{
        font-family: 'GalanoGrotesque';
        margin-bottom: 30px;
        font-size: 24px;
        color: #fff;
        line-height: 1.3;
        font-weight: 700;
        @include tablet{
            padding-left: 40px;
        }
    }
    &__wrap-form{
        position: relative;
        z-index: 1;
        max-width: 725px;
        @include tablet{
            width: calc(100% - 230px);
        }
    }
    &__form{
        @include desktop-sm{
            background: #FFFFFF;
            box-shadow: 0px 8px 30px rgba(0, 5, 58, 0.05);
            border-radius: 49px;
            padding: 15px 20px;
        }
        .button{
            min-width: 160px;
            padding: 9px;
            text-align: center;
            margin: 0 auto;
            display: block;
            @include desktop-sm{
                display: inline-block;
                margin: 0;
            }
        }
        input{
            margin-right: 27px;
            height: 48px;
            background: #F5F5F5;
            border-radius: 56px;
            border: 0;
            padding: 10px 20px;
            display: block;
            margin-bottom: 35px;
            width: 100%;
            @include desktop-sm{
                width: calc(100% - 200px);
                margin-bottom: 0;
                display: inline;
            }
        }
    }
    &__img{
        position: relative;
        z-index: 1;
        margin-bottom: -150px;
        display: none;
        @include tablet{
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}